.listview  {
margin-top:20px;

}

.listview .list {
min-height:400px;
/*border: solid 1px #DDDDDD;*/
}

.listview .line {
background: #F5F5F5;
}
.listview table {
width:100%;
table-layout: fixed;

}
.listview table thead {
background: #EEEEEE;
}
.listview table th , .listview table td {
	padding: 0.44444rem 0.55556rem 0.55556rem;
}
.listview table th {
	font-weight: bold;
	color: #222222;
}
.listview table td {
	

}

.listview table tr:hover {
background: #F2F2F2;
cursor:pointer;
}
.listview table img {
height:60px;
}
.listview .button-remove {
	float:right;
}

.pagination {
	text-align:center;
width:100%;
}

.pagination div {
	display:inline-block;
	
	margin-right:20px;
	cursor:pointer;
}