@import "imagescollection.css" ;
@import "collection.css" ;
@import "stringmultilangotf.css" ;


.editview .form-group > label{
	width: 16.666666666666664% !important;
	float: left;
	margin-top: 0;
	margin-bottom: 1px;
	padding-top: 4px;
padding-bottom: 3px;
	text-align:right;
	
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	background:#EAEAEA;
	
}

.editview .form-group > div:first-of-type{
	
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
width: 66.66666666666666%;
float:left;

}


.popupschemaedit textarea{
	width: 99%;
	min-height: 310px;
}
.popupschmeaedit .message {
	color:rgb(249, 78, 78);
	font-size: 13px;
}