.icon-logout {
	float: right;
	width: 25px;
	height: 25px;
	display: inline-block;
	cursor: pointer;
	background: url('../images/logout.png') no-repeat;
	background-size: 100%;
	margin-top: 11px;
	margin-right: 10px;
}

.icon-params {
	
	width: 25px;
	height: 25px;
	display: inline-block;
	cursor: pointer;
	background: url('../images/params.png') no-repeat;
	background-size: 100%;
	margin-top: 11px;
	margin-right: 10px;
	position:fixed;
	left:15px;
	bottom:15px;
}