.AJSpopup {

	width: 570px;
	height: 400px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -220px;
	margin-left: -285px;
	background: rgb(240, 240, 240);
	-webkit-box-shadow: 1px 1px 12px 0px rgba(30, 30, 30, 0.93);
	-moz-box-shadow:    1px 1px 12px 0px rgba(30, 30, 30, 0.93);
	box-shadow:         1px 1px 12px 0px rgba(30, 30, 30, 0.93);
	padding: 30px 15px 10px;

	z-index: 100000;
}
.AJSpopup .closeme {
	background: url('../images/glyphicons_207_remove_2.png') no-repeat ;
	width: 10px;
	height: 10px;
	background-size:100% 100%;
	position:absolute;
	right:10px;
	top:10px;
	cursor:pointer;
}
.AJSpopup .contentWrapper {
overflow-y: auto;
height: 370px;
overflow-x: hidden;
border: 1px solid rgb(227, 227, 227);
	background: rgb(249, 249, 249);
}
.AJSpopup .content {
	padding:10px;
}
.AJSpopup .content label{
	font-size:10px;
	color:grey;
}
.AJSpopup .footer {
	position:absolute;
	left:0px;
	bottom: 4px;
	width:100%;
	text-align:center;
}

.AJSpopup  .form-group > div:first-of-type {

margin-bottom: 10px;
}
.AJSpopup  input[type=text] {
	width: 400px;
	max-width: 100%;	
}

.AJSpopup .editview .form-group > label {
width: 11.666667% !important;
}

